#zinc-checkout-modal.modal-open {
  overflow: hidden;
}

#zinc-checkout-modal.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  overflow: auto;
  overflow-y: scroll;
}

#zinc-checkout-modal.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

#zinc-checkout-modal.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

#zinc-checkout-modal .modal-dialog {
  position: relative;
  z-index: 1050;
  width: auto;
  margin: 10px;
}
#zinc-checkout-modal .modal-content {
  position: relative;
  height: 406px;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}

#zinc-checkout-modal+.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
}

#zinc-checkout-modal+.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

#zinc-checkout-modal button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}


#zinc-checkout-modal+.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#zinc-checkout-modal .modal-body {
  position: relative;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  #zinc-checkout-modal .modal-dialog {
    width: 800px;
    margin: 30px auto;
  }
  #zinc-checkout-modal .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    height: 406px;
  }
}

#zinc-checkout-modal button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

#zinc-checkout-modal .close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

#zinc-checkout-modal .close:hover,
#zinc-checkout-modal .close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

