.product-results .variant {
  display: inline-block;
  width: 161px;
  height: 100px;
  overflow-y: auto;
}

.product-results .variant input.variant-quantity {
  width: 100px;
}

.product-results .variant:hover {
  border-color: #428bca;
}

.product-results .variant.checked {
  border: 3px solid #398439;
  background-color: rgba(57,132,57,0.25);
}

.progress {
  margin-top: 50px;
  width: 40%;
  margin-left: 20px;
}

.shipping-method-results .shipping-result-select {
  width: 40px;
  display: inline-block;
}

.shipping-method-results .shipping-result-select input.shipping-result-radio {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
