h2.page-header {
  font-weight: bold;
  margin-top: 5px;
  margin-left: 2%;
  font-size: 24px;
}

.error-handling {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.error-handling .error-message ul {
  margin: 0px;
}

.product-results .variant {
  display: inline-block;
  width: 161px;
  height: 100px;
  overflow-y: auto;
}

.product-results .variant input.variant-quantity {
  width: 100px;
}

.product-results .variant:hover {
  border-color: #428bca;
}

.product-results .variant.checked {
  border: 3px solid #398439;
  background-color: rgba(57,132,57,0.25);
}

.progress {
  margin-top: 50px;
}

.shipping-method-results .shipping-result-select {
  display: inline-block;
}

.shipping-method-results .shipping-result-select input.shipping-result-radio {
  float: right;
  margin-right: 10px;
}

.variant-option label.variant-price,
.variant-option label.variant-description-name,
.variant-option label.variant-quantity {
  padding: 0;
}

.form-horizontal .form-group {
  margin-bottom: 8px;
}

.controls .help-block {
  margin: 0;
}

.controls .help-block ul {
  margin-top: 5px;
  margin-bottom: 10px;
}

.submit-wrapper {
  margin-top: 20px;
}

.submit-wrapper .well {
  padding: 10px;
}

#content-wrapper .modal-footer {
  border-top: none;
}

.checkout-dismiss button.button {
  font-size: 20px;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

#store-card-form .credit-card {
  background-color: rgba(66, 139, 202, 0.6);
  border-color: #357ebd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#store-card-form .credit-card .credit-card-wrapper {
  padding: 20px 30px;
}

#store-card-form .billing-address-wrapper {
  margin-top: 30px;
}

#store-card-form .credit-card .credit-card-wrapper .controls {
  padding-left: 7px;
  padding-right: 7px;
}

#store-card-form .security-logos {
  margin-top: 25px;
}

#store-card-form .billing-address-information-wrapper .send-as-gift-shipping-address-wrapper {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 10px;
}

#store-card-form .billing-address-information-wrapper .send-as-gift-shipping-address-wrapper div.checkbox {
  line-height: 26px;
}

.review-order .variant-options .controls {
  overflow-wrap: break-word;
}

.review-order label {
  padding-left: 0px;
}

nav .stage-navigation .nav-wrapper {
  padding: 14px;
  width: 100%;
  border-radius: 0px;
  background-color: rgba(66, 139, 202, 0.5);
  border-color: rgba(66, 139, 202, 0.2);
}

nav .stage-navigation li.active .nav-wrapper {
  background-color: rgba(66, 139, 202, 1.0);
}

nav .stage-navigation .nav-wrapper a {
  color: white;
}

nav .stage-navigation .nav-wrapper span.glyphicon {
  margin-left: 10px;
}

.navbar-nav, 
nav .stage-navigation li {
  padding-left: 0px;
  padding-right: 0px;
}

.spinner-wrapper {
  height: 100px;
}

label.control-label {
  margin-bottom: 0px;
}

.retailer-information-panel .panel-body {
  padding: 15px;
}

.retailer-information-panel .panel {
  margin-bottom: 10px;
}

.retailer-information-panel .panel .panel-heading {
  background-color: rgba(66, 139, 202, 1.0);
}

.billing-address address,
.shipping-address address {
  margin-bottom: 10px;
} 

h2.page-header {
  margin-bottom: 10px;
}
