h2.page-header {
  font-weight: bold;
  margin-left: 2%;
  font-size: 24px;
}

.error-handling,
.spinner {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.spinner {
  background: none;
}

.product-results .variant {
  display: inline-block;
  width: 161px;
  height: 100px;
  overflow-y: auto;
}

.product-results .variant input.variant-quantity {
  width: 100px;
}

.product-results .variant:hover {
  border-color: #428bca;
}

.product-results .variant.checked {
  border: 3px solid #398439;
  background-color: rgba(57,132,57,0.25);
}

.progress {
  margin-top: 50px;
}

.shipping-method-results .shipping-result-select {
  display: inline-block;
}

.shipping-method-results .shipping-result-select input.shipping-result-radio {
  float: right;
  margin-right: 10px;
}

.variant-option label.variant-price,
.variant-option label.variant-description-name,
.variant-option label.variant-quantity {
  padding: 0;
}

.form-horizontal .form-group {
  margin-bottom: 8px;
}

.controls .help-block {
  margin: 0;
}

.controls .help-block ul {
  margin-top: 5px;
  margin-bottom: 10px;
}

#shipping-methods-form .submit-and-price {
  margin-top: 20px;
}

#shipping-methods-form .submit-and-price .well {
  padding: 10px;
}

#content-wrapper .modal-footer {
  border-top: none;
}

.checkout-dismiss button.button {
  font-size: 20px;
}
