<div class="first-name form-group">
  <label class="col-sm-3 control-label">First Name</label>
  <div class="col-sm-8 controls">
    <input class="first-name form-control input-sm" type="text" name="first-name" required>
  </div>
</div>
<div class="last-name form-group">
  <label class="col-sm-3 control-label">Last Name</label>
  <div class="col-sm-8 controls">
    <input class="last-name form-control input-sm" type="text" name="last-name" required>
  </div>
</div>
<div class="address-line1 form-group">
  <label class="col-sm-3 control-label">Address Line 1</label>
  <div class="col-sm-8 controls">
    <input class="address-line1 form-control input-sm" type="text" name="address-line1" required>
  </div>
</div>
<div class="address-line2 form-group">
  <label class="col-sm-3 control-label">Address Line 2</label>
  <div class="col-sm-8 controls">
    <input class="address-line2 form-control input-sm" type="text" name="address-line2">
  </div>
</div>
<div class="zip-code form-group">
  <label class="col-sm-3 control-label">Zip Code</label>
  <div class="col-sm-8 controls">
    <input class="zip-code form-control input-sm" type="text" name="zip-code" required>
  </div>
</div>
<div class="city form-group">
  <label class="col-sm-3 control-label">City</label>
  <div class="col-sm-8 controls">
    <input class="city form-control input-sm" type="text" name="city" required>
  </div>
</div>
<div class="state form-group">
  <label class="col-sm-3 control-label">State</label>
  <div class="col-sm-8 controls">
    <input class="state form-control input-sm" type="text" name="state" required>
  </div>
</div>
<div class="country form-group">
  <label class="col-sm-3 control-label">Country</label>
  <div class="col-sm-8 controls">
    <input class="country form-control input-sm" type="text" name="country" required>
  </div>
</div>
{{#if phone_number}}
  <div class="phone-number form-group">
    <label class="col-sm-3 control-label">Phone Number</label>
    <div class="col-sm-8 controls">
      <input class="phone-number form-control input-sm" type="text" name="phone-number">
    </div>
  </div>
{{/if}}
