<div class="first-name">
  First Name: <input class="first-name" type="text" name="first-name">
</div>
<div class="last-name">
  Last Name: <input class="last-name" type="text" name="last-name">
</div>
<div class="address-line1">
  Address Line 1: <input class="address-line1" type="text" name="address-line1">
</div>
<div class="address-line2">
  Address Line 2: <input class="address-line2" type="text" name="address-line2">
</div>
<div class="zip-code">
  Zip Code: <input class="zip-code" type="text" name="zip-code">
</div>
<div class="city">
  City: <input class="city" type="text" name="city">
</div>
<div class="state">
  State: <input class="state" type="text" name="state">
</div>
<div class="country">
  Country: <input class="country" type="text" name="country">
</div>
{{#if phone_number}}
  <div class="phone-number">
    Phone Number: <input class="phone-number" type="text" name="phone-number">
  </div>
{{/if}}
