<div class="form-horizontal">
  <label class="col-sm-2 control-label">Merchant Order ID</label>
  <div class="col-sm-3">
    <p class="form-control-static">{{ merchant_order.merchant_order_id }}</p>
  </div>
</div>
