<div class="variant-option">
  <div class="variant-price">
    <label class="variant-price control-label">Price</label>
    <span class="price">{{ unit_price }}</span>
  </div>
  {{#each dimensions}}
  <div class="variant-description">
    <label class="variant-description-name control-label">{{ name }}</label>
    <span class="variant-value">{{ value }}</span>
  </div>
  {{/each}}
  {{#if quantity}}
    <div class="variant-quantity">
      <label class="variant-quantity control-label">Quantity</label>
      <span class="quantity">{{ quantity }}</span>
    </div>
  {{/if}}
</div>

