<div class="subtotal">
  Subtotal: {{ price_components.subtotal }}
</div>
<div class="shipping">
  Shipping: {{ price_components.shipping }}
</div>
<div class="tax">
  Tax: {{ price_components.tax }}
</div>
<div class="total">
  Total: {{ price_components.total }}
</div>
