<h2>Review Order</h2>
<div class="retailer">
  <h3>Retailer</h3>
  {{ retailer }}
</div>
<div class="products">
  <h3>Products</h3>
  {{#each products}}
    {{> _display_variant_option this}}
  {{/each}}
</div>
<div class="shipping-address">
  <h3>Shipping Address</h3>
  {{> _address_display shipping_address }}
</div>
<div class="payment-method">
  <h3>Payment Information</h3>
  <div class="payment-method-brand">
    Credit Card Brand: <span class="brand">{{ payment_method.brand }}</span>
  </div>
  <div class="payment-method-last-four">
    Credit Card: **** **** **** {{ payment_method.last_four }}
  </div>
</div>
<div class="customer-information">
  <h3>Order Information</h3>
  <form id="review-order-form" method="post">
    <div class="is-gift">
      Send as gift: <input class="is-gift" type="checkbox" name="is-gift">
    </div>
    <div class="email-address">
      Confirmation Email: <input class="email-address" type="text" name="email-address">
    </div>
    <input class="submit" type="submit" value="Review Final Order">
  </form>
</div>

<
