<div class="retailer">
  <h3>Retailer</h3>
  <div class="form-horizontal">
    <div class="retailer-name form-group">
      <label class="col-sm-2 control-label">Retailer Name</label>
      <div class="col-sm-3">
        <p class="form-control-static">{{ retailer }}</p>
      </div>
    </div>
  </div>
</div>
<div class="products">
  <h3>Products</h3>
  {{#each products}}
    {{> _display_variant_option this}}
  {{/each}}
</div>
<div class="shipping-address">
  <h3>Shipping Address</h3>
  {{> _address_display shipping_address }}
</div>
<div class="payment-method">
  <h3>Payment Information</h3>
  <div class="form-horizontal">
    <div class="payment-method-brand form-group">
      <label class="col-sm-2 control-label">Credit Card Brand</label>
      <div class="col-sm-3">
        <p class="form-control-static">{{ payment_method.brand }}</p>
      </div>
    </div>
    <div class="payment-method-last-four form-group">
      <label class="col-sm-2 control-label">Credit Card</label>
      <div class="col-sm-3">
        <p class="form-control-static">
          **** **** **** {{ payment_method.last_four }}
        </p>
      </div>
    </div>
  </div>
</div>
