{{#each shipping_methods}}
  <div class="shipping-result">
    <input type="radio" name="shipping-result-checkbox" shipping-method-id="{{ shipping_method_id }}">
    <span class="shipping-method-info">
      {{ name }}, {{ description }}, {{ price }}
    </span>
  </div>
{{/each}}
