{{#each shipping_methods}}
  <div class="shipping-result">
    <span class="shipping-result-select">
      <input type="radio" class="shipping-result-radio" shipping-method-id="{{ shipping_method_id }}">
    </span>
    <span class="shipping-method-description">
      {{ name }}, {{ description }}, {{ price }}
    </span>
  </div>
{{/each}}
