<div class="form-group price-variant-dimension">
  <label class="col-sm-6 control-label">Total Price:</label>
  <div class="col-sm-6 controls unit-price">
    <p class="form-control-static">
    <strong>
      {{#if unit_price}}
        &#36;<span class="total-price">{{ displayDollars unit_price }}</span>
      {{else}}
        &#36;<span class="total-price">&#95; &#95; . &#95; &#95;</span>
      {{/if}}
    </strong>
    </p>
  </div>
</div>
<div class="product-id-variant-dimension">
  <input type="hidden" class="product-id" value="{{ product_id }}">
</div>

