{{#each variant_options}}
  <div class="variant">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" class="variant-checkbox" name="{{ product_id }}">
      </span>
      <input class="variant-quantity form-control" name="{{ product_id }}">
    </div>
    {{> _display_variant_option this }}
  </div>
{{/each}}
