{{#if unit_price}}
  <div class="form-group price-variant-dimension">
    <label class="col-sm-3 control-label">Price</label>
    <div class="col-sm-8 controls unit-price">
      <p class="form-control-static">
      {{ displayDollars unit_price }}
      </p>
    </div>
  </div>
{{/if}}
<div class="product-id-variant-dimension">
  <input type="hidden" class="product-id" value="{{ product_id }}">
</div>

