{{#each variant_options}}
  <div class="variant">
    <input type="checkbox" class="variant-checkbox" name="{{ product_id }}">
    <input class="variant-quantity" name="{{ product_id }}" style="display:none">
    {{> _display_variant_option this }}
  </div>
{{/each}}
