<h2 class="page-header">Your order has been placed!</h2>
<div class="order-confirmation">
  <div class="panel panel-primary col-sm-12">
    <div class="panel-heading">
      Merchant Order ID
    </div>
    <div class="panel-body">
      <div class="merchant-order-id col-sm-12 form-group">
        <label class="col-sm-4 control-label">Merchant Order ID</label>
        <div class="col-sm-8 controls">
          <p class="form-control-static">{{ merchant_order.merchant_order_id }}</p>
        </div>
      </div>
      <div class="merchant-order-id col-sm-12 form-group">
        <label class="col-sm-4 control-label">Email</label>
        <div class="col-sm-8 controls">
          <p class="form-control-static">{{ customer_email }}</p>
        </div>
      </div>
    </div>
  </div>
  {{> _order_details this }}
</div>
