<h2 class="page-header">Review Order Total</h2>
<div class="final-pricing"></div>

<h2 class="page-header">Place Order</h2>
<form id="place-order-form" method="post">
  <input type="submit" class="submit" value="Place Order">
</form>
