<h2 class="page-header">Review Order Total</h2>

<form id="place-order-form" class="form-horizontal" method="post" novalidate>
  <div class="final-pricing"></div>
  <div class="col-sm-offset-3 col-sm-8">
    <button type="submit" class="btn btn-primary btn-lg">Place Order</button>
  </div>
</form>
