<div class="review-order-information"></div>
<div class="customer-information">
  <h2 class="page-header">Customer Information</h2>
  <form id="review-order-form" class="form-horizontal" method="post">
    <div class="is-gift form-group clearfix">
      <label class="col-sm-2 control-label">Send As Gift</label>
      <div class="col-sm-3">
        <input class="is-gift" type="checkbox" name="is-gift">
      </div>
    </div>
    <div class="email-address form-group clearfix">
      <label class="col-sm-2 control-label">Confirmation Email</label>
      <div class="col-sm-3">
        <input class="email-address form-control" type="text" name="email-address">
      </div>
    </div>
    <div class="form-group clearfix">
      <div class="col-sm-offset-2 col-sm-3">
        <button class="btn btn-default" type="submit">Review Final Order</button>
      </div>
    </div>
  </form>
</div>
