<div class="review-order-information">
  <h2 class="page-header">Your {{ capitalize retailer }} Order</h2>
  {{> _order_details this }}
  <form id="place-order-form" class="form-horizontal" method="post" novalidate>
    <div class="submit-wrapper col-sm-12">
      <div class="well col-sm-12">
        <div class="submit-button-col col-sm-offset-6 col-sm-6">
          <button class="submit-shipping-methods col-sm-offset-3
            col-sm-6 btn btn-primary" type="submit">Place Order</button>
        </div>
      </div>
    </div>
  </form>
</div>
