<h2>Review Order</h2>
<div class="review-order-information"></div>

<div class="customer-information">
  <h2>Customer Information</h3>
  <form id="review-order-form" method="post">
    <div class="is-gift">
      Send as gift: <input class="is-gift" type="checkbox" name="is-gift">
    </div>
    <div class="email-address">
      Confirmation Email: <input class="email-address" type="text" name="email-address">
    </div>
    <input class="submit" type="submit" value="Review Final Order">
  </form>
</div>
