<h2>Shipping Methods</h2>
<form id="shipping-methods-form" class="form-horizontal" method="post">
  <h3>Product Quantities</h3>
  <input class="retailer" style="display:none" name="retailer">
  <div class="product-results"></div>
  <h3>Shipping Information</h3>
  {{> _address_input this }}
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-3">
      <button class="btn btn-default" type="submit">Submit</button>
    </div>
  </div>
</form>
