<form id="shipping-methods-form" class="form-horizontal" method="post">
  <h2>Product Quantities</h2>
  <input class="retailer" style="display:none" name="retailer">
  <div class="product-results"></div>
  <h2>Shipping Information</h2>
  {{> _address_input this }}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-3">
      <button class="btn btn-default" type="submit">Submit</button>
    </div>
  </div>
</form>
