<nav role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="stage-navigation nav navbar-nav col-sm-12">
      <li class="shipping-methods-nav col-sm-4">
        <div class="shipping-methods-wrapper nav-wrapper btn btn-default">
          <a href="#shipping-methods">
            <span class="description">Shipping</span>
            <span class="glyphicon glyphicon-road"></span>
          </a>
        </div>
      </li>
      <li class="store-card-nav col-sm-4">
        <div class="store-card-wrapper nav-wrapper btn btn-default">
          <a href="#store-card">
            <span class="description">Payment</span>
            <span class="glyphicon glyphicon-credit-card"></span>
          </a>
        </div>
      </li>
      <li class="review-order-nav col-sm-4">
        <div class="review-order-wrapper nav-wrapper btn btn-default">
          <a href="#review-order">
            <span class="description">Review</span>
            <span class="glyphicon glyphicon-saved"></span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
