<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="stage-navigation nav navbar-nav">
      <li class="variant-options active"><a href="#variant-options">Product Url</a></li>
      <li class="shipping-methods"><a href="#shipping-methods">Shipping Methods</a></li>
      <li class="store-card"><a href="#store-card">Credit Card</a></li>
      <li class="review-order"><a href="#review-order">Review Order</a></li>
    </ul>
  </div>
</nav>
