<form id="store-card-form" class="form-horizontal" method="post" novalidate>
  <div class="payment-details-wrapper col-sm-6">
    <h5>PAYMENT DETAILS</h5>
    <section class="credit-card">
      <div class="credit-card-wrapper">
        <div class="number form-group">
          <div class="col-sm-8 controls">
            <label class="control-label">Card Number</label>
            <input class="number credit-card-number form-control"
              type="text" name="number" required
              inputmode="numeric" autocomplete="cc-number" autocompletetype="cc-number" x-autocompletetype="cc-number"
              placeholder="&#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149;">
          </div>
          <div class="col-sm-4 controls">
            <label class="control-label">CVV</label>
            <input class="security-code form-control" 
              type="text" name="security-code" required
              placeholder="&#149;&#149;&#149;">
          </div>
        </div>
        <div class="credit-card-second-row form-group">
          <div class="second-line-card-wrapper">
            <div class="col-sm-8 controls">
              <label class="control-label">Name on Card</label>
              <input class="billing-address-name form-control"
                type="text" name="name" required
                placeholder="John Smith">
            </div>
            <div class="col-sm-4 controls">
              <label class="control-label">Expiration</label>
              <input class="expiration-month-and-year form-control"
                type="text" name="expiration-month-and-year" required
                placeholder="MM / YYYY">
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="order-information-wrapper col-sm-6">
    <h5>ORDER INFORMATION</h5>
    <div class="is-gift form-group">
      <div class="col-sm-offset-1 col-sm-10 controls">
        <div class="checkbox">
        <label class="checkbox-inline">
          <input class="is-gift checkbox" type="checkbox" checked>
            Send as gift
          </label>
        </div>
      </div>
    </div>
    <div class="email-address form-group">
      <div class="col-sm-offset-1 col-sm-10 controls">
        <input class="email-address form-control" type="email" name="email-address"
          placeholder="Confirmation Email"
          required>
      </div>
    </div>
  </div>
  <div class="billing-address-wrapper col-sm-6">
    <h5>BILLING ADDRESS</h5>
    <div class="form-group billing-address">
      <div class="col-sm-offset-1 col-sm-10 controls">
        <div class="checkbox">
          <label class="checkbox-inline">
            <input class="use-shipping-address checkbox" type="checkbox" checked>
            Use shipping address for billing
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="billing-address-information-wrapper col-sm-12">
    <div class="billing-address-information" style="display:none;">
      <div class="card-billing-address">
        {{> _address_input }}
      </div>
    </div>
  </div>
  <div class="submit-and-price col-sm-12">
    <div class="well col-sm-12">
      <div class="submit-button-col col-sm-offset-6 col-sm-6">
        <button class="submit-shipping-methods col-sm-offset-3
          col-sm-6 btn btn-primary" type="submit"
          disabled="disabled">Next</button>
      </div>
    </div>
  </div>
</form>
