<form id="store-card-form" class="form-horizontal" method="post" novalidate>
  <div class="payment-details-wrapper col-sm-6">
    <h5>PAYMENT DETAILS</h5>
    <section class="credit-card">
      <div class="credit-card-wrapper">
        <div class="number form-group control-group">
          <div class="col-sm-8 controls control-group">
            <label class="control-label">Card Number</label>
            <input class="number credit-card-number form-control"
              type="text" name="number" required
              inputmode="numeric" autocomplete="cc-number" autocompletetype="cc-number" x-autocompletetype="cc-number"
              placeholder="&#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149;">
          </div>
          <div class="col-sm-4 controls control-group">
            <label class="control-label">CVV</label>
            <input class="security-code form-control" 
              type="text" name="security-code" required
              placeholder="&#149;&#149;&#149;">
          </div>
        </div>
        <div class="credit-card-second-row form-group control-group">
          <div class="second-line-card-wrapper">
            <div class="col-sm-8 controls control-group">
              <label class="control-label">Name on Card</label>
              <input class="billing-address-name form-control"
                type="text" name="name" required
                placeholder="John Smith">
            </div>
            <div class="col-sm-4 controls control-group">
              <label class="control-label">Expiration</label>
              <input class="expiration-month-and-year form-control"
                type="text" name="expiration-month-and-year" required
                placeholder="MM / YY">
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="security-logos col-sm-12">
      <div class="security-logo-1 col-sm-6">
        <img class="col-sm-12" src="assets/security-logo-1.png">
      </div>
      <div class="security-logo-2 col-sm-6">
        <img class="col-sm-12" src="assets/security-logo-2.png">
      </div>
    </div>
  </div>
  <div class="order-information-wrapper col-sm-6">
    <h5>BILLING INFORMATION</h5>
    <div class="billing-address-information-wrapper col-sm-12">
      <div class="send-as-gift-shipping-address-wrapper col-sm-12 controls">
        <div class="col-sm-7 checkbox">
          <input class="use-shipping-address checkbox" type="checkbox" checked>
          Use shipping address
        </div>
        <div class="col-sm-5 checkbox">
          <input class="is-gift checkbox" type="checkbox" checked>
          Send as gift
        </div>
      </div>
      <div class="billing-address-information">
        <div class="card-billing-address">
          {{> _address_input }}
        </div>
      </div>
      <div class="email-address form-group">
        <div class="col-sm-12 controls control-group">
          <input class="email-address form-control" type="email" name="email-address"
            placeholder="Confirmation Email"
            required>
        </div>
      </div>
    </div>
  </div>
  <div class="submit-wrapper col-sm-12">
    <div class="well col-sm-12">
      <div class="submit-button-col col-sm-offset-6 col-sm-6">
        <button class="submit-shipping-methods col-sm-offset-3
          col-sm-6 btn btn-primary" type="submit">Next</button>
      </div>
    </div>
  </div>
</form>
