<form id="store-card-form" class="form-horizontal" method="post" novalidate>
  <h2 class="page-header">Shipping Methods</h2>
  <div class="shipping-method-results"></div>
  <h2 class="page-header">Credit Card Information</h2>
  <div class="number form-group">
    <label class="col-sm-3 control-label">Credit Card Number</label>
    <div class="col-sm-8 controls">
      <input class="number form-control input-sm" type="text" name="number" required>
    </div>
  </div>
  <div class="expiration-month form-group">
    <label class="col-sm-3 control-label">Expiration</label>
    <div class="controls">
      <div class="col-sm-3">
        <select class="expiration-month form-control input-sm" name="expiration-month" type="number" data-validation-number-message="You must select a month" required>
          <option selected="selected">Month</option>
          <option>01</option>
          <option>02</option>
          <option>03</option>
          <option>04</option>
          <option>05</option>
          <option>06</option>
          <option>07</option>
          <option>08</option>
          <option>09</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
      </div>
      <div class="col-sm-5">
        <select class="expiration-year form-control input-sm" name="expiration-year" type="number" data-validation-number-message="You must select a year" required>
          <option selected="selected">Year</option>
          <option>2014</option>
          <option>2015</option>
          <option>2016</option>
          <option>2017</option>
          <option>2018</option>
          <option>2019</option>
          <option>2020</option>
          <option>2021</option>
          <option>2022</option>
          <option>2023</option>
        </select>
      </div>
      <div class="col-sm-offset-3 col-sm-8">
        <div class="help-block"></div>
      </div>
    </div>
  </div>
  <div class="security-code form-group">
    <label class="col-sm-3 control-label">Security Code</label>
    <div class="col-sm-3 controls">
      <input class="security-code form-control input-sm" type="text" name="security-code" required>
    </div>
  </div>
  <h2 class="page-header">Order Information</h2>
  <div class="is-gift form-group">
    <label class="col-sm-3 control-label">Send As Gift</label>
    <div class="col-sm-8 controls">
      <input class="is-gift input-sm" type="checkbox" name="is-gift">
    </div>
  </div>
  <div class="email-address form-group">
    <label class="col-sm-3 control-label">Confirmation Email</label>
    <div class="col-sm-8 controls">
      <input class="email-address input-sm form-control" type="email" name="email-address" required>
    </div>
  </div>
  <h2 class="page-header">Billing Address</h2>
  <div class="form-group billing-address">
    <label class="col-sm-3 control-label">Use Shipping Address</label>
    <div class="col-sm-8 controls">
      <div class="checkbox">
        <label class="checkbox-inline">
          <input class="use-shipping-address checkbox" type="checkbox" checked>
          My shipping address is the same as my billing address.
        </label>
      </div>
    </div>
  </div>
  <div class="billing-address-information" style="display:none;">
    <div class="card-billing-address">
      {{> _address_input }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-8">
      <button class="btn btn-default" type="submit">Submit</button>
    </div>
  </div>
</form>
