<h2 class="page-header">Variant Options</h2>
<form id="variant-options-form" class="form-horizontal" method="post" novalidate>
  <div class="retailer form-group">
    <label class="col-sm-3 control-label">Retailer</label>
    <div class="col-sm-8 controls">
      <select class="retailer form-control input-sm" name="retailer" required>
        <option value="amazon">Amazon</option>
        <option value="macys">Macy's</option>
        <option value="jcrew">J. Crew</option>
      </select>
    </div>
  </div>
  <div class="product-url form-group">
    <label class="col-sm-3 control-label">Product Url</label>
    <div class="col-sm-8 controls">
      <input class="product-url form-control input-sm" type="text" name="product_url" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-8">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
