<h2>Variant Options</h2>
<form id="variant-options-form" method="post">
  <div class="retailer">
    Retailer:
    <select class="retailer" name="retailer">
      <option value="macys">Macy's</option>
      <option value="jcrew">J. Crew</option>
    </select>
  </div>
  <div class="product-url">
    Url: <input class="product-url" type="text" name="product_url">
  </div>
  <input class="submit" type="submit" value="Submit">
</form>
